index.html
{
font-family: Didot; 
color: black;
text-align: center;
}

moreinfo.html, tipstricks.html
{font-family: Didot; text-align: center;}
      /* unvisited link */
      a:link {
        color: black;
      }
      /* visited link */
      a:visited {
        color: lightpink;
      }
      /* mouse over link */
      a:hover {
        color: lightpink;
      }
/* BORDER CSS */
body {
  border: 10px solid black;
}

.footer {
  color: #F8BCD0;
font-family: Didot;
 }
/* box-sizing:lor:
{
  color: black;
  font-family: Didot
} 
 */
/*box-sizing:{box-sizing: border-box}*/
body {font-family: Didot; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}





/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}



@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#header {
  text-decoration: none; 
  font-family: Didot;
}

