<!DOCTYPE html>
<html>
<head><title>treat yo' self</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

body {
    background-image: url("https://i.pinimg.com/originals/49/e4/33/49e4336af845b52af5c95b68e64bb081.jpg");
    min-height: 100%;
}

body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.white {
  background-color: white;
}

/* turn off parallax for tablets/phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>
</head>
<body>
<br><br><br><br><br><br>
<!-- logo thing -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">about<span class="w3-hide-small"> us </span>
  </div>
</div>

<div class = white>
<!-- about us -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">who are we?</h3>
  
  <center>
    <br><br>
  <img src = "https://lh3.googleusercontent.com/7lXS_b_JPdGW4qX7RRpf_eL9u-ofVx0TU-mfhq3gGBCl4hfweaXmOIPBuev2MFnufCNxbtYBgpEL3juvg7sH1STMnuQStpXRfRjGFZ8-AmSBNSCq03NxGymwW1QLKl7HdEsET7OFk9hnAsxiPEMOZg2IQGNTpdaeWnBwNfmq5rzQTDT5iRYrsW1nvA786ImtcNgb5JIiMfVlVj7GHQ5sQXtfObS_RtWui7EfQX5FUyVLeNxus9Pb78MLbUKb_mmZbGJHl4Xo1-9fQcZ8qRKG4HJwDqYOFgBHVn6URF7zdEq4DEvd0Z1Yg1f7zcaeJ5Fbo8u6Mhi3NW7l3NY6yhqcFfu7rxYXX61mtI7K_wu_vY0plN3UE_o-r68qDancd2H9KVSKVrhv4-OqMZ3B0htjfLqgDvO0gKWdxvXyWPdxW_gv2FWkyMjtJ8BG_OQPFqGND-K17rLKuBnnCoN-vpSaIaFVeRa2rUIIcLINeZNmpmTtoKzsJopunCyRvMov3k696ZL7064RkcEiUnYKhuv7e_FTM43e6j_yBQ_CutQseUxmG-bobxw41of6C21Wk1J0Wul3tI26-c_9p0ExnCDj5u0s82smOguJWAC65WE=w1127-h752-no" width = "600" height = "400">
  <p>
    <br><br>

hi! we are three determined and koding teens from minnesota. we created “treat yo’ self” to help others improve their self-care routines and become more motivated. As stressed students, we strive to become more relaxed and efficient in our daily lives. We hope that treat yo’ self caters to everyone, young and old, to become the best versions of themselves through positivity and self care. our bios will go from left to right.
    
   <div class="w3-content w3-container w3-padding-64" id="about">
     
     
     <h2 class="w3-center">kate</h2>
    <center>
  <p>

kate is 14 years old and is a freshman in high school. she loves video games, music, books, dance, and snow sports. she gets a lot of anxiety over maintaining an organized schedule and staying above average in academics. she thinks treat yo’ self will help people who don’t often make time for themselves to be reminded of how much they matter.
    
   
      
      <blockquote class="embedly-card"><h4><a href="https://www.instagram.com/kate_harris03">kate harris (@kate_harris03) * Instagram photos and videos</a></h4><p>296 Followers, 670 Following, 9 Posts - See Instagram photos and videos from kate harris (@kate_harris03)</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</div>

  <h2 class="w3-center">amulya</h2>
    
    <center>
  <p>
amulya is 17 years old. in her free time, she loves to edit videos, take pictures, and sing! amulya, a strong advocate of the phrase “treat yo’ self”, believes that people should give themselves a break once in a while as it can enhance future productivity.
     
      <blockquote class="embedly-card"><h4><a href="https://www.instagram.com/amulyamari/">amulya (@amulyamari) * Instagram photos and videos</a></h4><p>738 Followers, 725 Following, 19 Posts - See Instagram photos and videos from amulya (@amulyamari)</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<div class="w3-content w3-container w3-padding-64" id="about">
  <h2 class="w3-center">kaumudi</h2>
    <center>
  <p>

kaumudi is 17 years old. she loves watching netflix, playing sports, singing, and editing videos. she believes that treat yo’ self will be a beneficial tool to help improve her own self care routines by participating in more pampering days and stress relieving meditation. 
    
    <blockquote class="embedly-card"><h4><a href="https://www.instagram.com/kaumudimummadi">KAUMUDI MUMMADI ✰ (@kaumudimummadi) * Instagram photos and videos</a></h4><p>1,130 Followers, 1,090 Following, 159 Posts - See Instagram photos and videos from KAUMUDI MUMMADI ✰ (@kaumudimummadi)</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    <div class="w3-content w3-container w3-padding-64" id="about">
  
</div>
</div>
</div>
</div>

<!-- footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <center>
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>to the top</a>
  </center>

  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 

<script>

// change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>

</body>
</html>

<!-- navbar -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="index.html" class="w3-bar-item w3-button">home</a>
    <a href="about.html" class="w3-bar-item w3-button w3-hide-small"></i> about</a>
    <a href="quiz.html" class="w3-bar-item w3-button w3-hide-small"></i> quiz</a>
    <a href="motivation.html" class="w3-bar-item w3-button w3-hide-small"></i> motivation</a>
    <a href="selfcare.html" class="w3-bar-item w3-button w3-hide-small"></i> self-care</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>
  </div>
  
  <!-- navbar on mobile -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="home" class="w3-bar-item w3-button" onclick="toggleFunction()">home</a>
    <a href="about" class="w3-bar-item w3-button" onclick="toggleFunction()">about</a>
    <a href="quiz" class="w3-bar-item w3-button" onclick="toggleFunction()">quiz</a>
    <a href="motivation" class="w3-bar-item w3-button" onclick="toggleFunction()">motivation</a>
    <a href="self-care" class="w3-bar-item w3-button" onclick="toggleFunction()">self-care</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>



    
<div class="w3-content w3-container w3-padding-64" id="about">
  
  
<!-- accordion code -->
 <style>
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: "Lato", sans-serif;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}
</style>
</head>
<body>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>

  
 <style>
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: "Lato", sans-serif;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}
</style>
</head>
<body>

  

  
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
  

 
<!-- Add Google Maps -->
<script>

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

</body>
</html>



