<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <a rel="stylesheet" href="homapeage.css">
</head>
  
<body>

<div class="w3-content w3-padding-large w3-margin-top" id="womens-rights">

  <!-- Navigation bar with social media icons -->
<div class="w3-bar w3-dark-grey w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
</div>
    

 <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="header"><b>ABOUT US</b></h1>
    
  </header>
  
  <!-- <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"; background-image: url("https://i.pinimg.com/564x/8a/df/01/8adf016f46d9ec6fa97bd1726938a6dc.jpg")}
</style>
<!-- <body class="w3-pink">  -->
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->


   
  <!-- BUTTON CODE -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
<!--     <h1 class="title-picture">WOMENS RIGHTS</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">WOMENS RIGHTS</h5> -->
  </div>
  <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
    <a href="homepage.html" class="w3-bar-item w3-button">HOME</a>
    <a href="facts.html" class="w3-bar-item w3-button">FACTS</a>
    <a href="about.html" class="w3-bar-item w3-button">ABOUT US</a>
  </div>
</header>

<!-- Navbar on small screens -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="homepage.html" class="w3-bar-item w3-button">HOME</a>
  <a href="facts.html" class="w3-bar-item w3-button">FACTS</a>
  <a href="about_us.html" class="w3-bar-item w3-button">ABOUT US</a>
</div>
</div>
  
  
  
<!--   ACTUAL CONTENT OF THE PAGE -->

<center><img src = "https://i.pinimg.com/564x/43/48/ce/4348ce5b2f6c9e73d92d024470f73ffb.jpg" widhth = "500" height = "500"></center>
  <h3 class = "w3-pale-red w3-text-dark-grey">Emliy: <br> Hi all! Im 16 years old, I’m the second youngest of 5 children, I have 3 sisters and 1 brother, so I guess you can say he’s outnumbered (“girl power!”). Im currently homeschooled, I’ll be a Senior in the coming Fall. When it comes to free time, I really enjoy all things musical theatre and arts, and I really love all things tv shows & movies,  netflix is definitely a must have for me!I’m always up for new adventures, local or not i’m down!
</h3>
  
<center><img src = "https://i.pinimg.com/564x/d2/99/43/d299436d4b65a240ddba8ecc491557dc.jpg" width = "250" height = "350"></center>
  
  <h3 class = "w3-pale-red w3-text-dark-grey"> Nancy: <br> Hey! I’m 17 years old. I go to Roseville Area High School and I’ll be a senior in the fall. Some of my favorite tv shows are Brooklyn 99, New Girl, and Stranger Things -of course! I love reading YA novels, especially when there’s a little bit of romance in them, biking, and spending as much time as I can with my friends. My favorite food is currently soybean chorizo tacos. I have 2 older sisters and a little dog named Blanca whom I love very, very much.</h2>
  <center><img src = "https://i.pinimg.com/564x/5c/21/f8/5c21f8bd66854f0f1ca6084d3c36b4ad.jpg" width = "300" height = "350"></center>
  
   <h3 class = "w3-pale-red w3-text-dark-grey">Izzi: <br> Hello! I'm 16 years old and I live in White Bear Lake. I will be a junior this upcoming school year. I have 4 siblings and two cats (Echo and Toulouse). Some of my favorite things to do are play lacrosse, lay in my hammock, and hang out with my friends. I also love going up to my cabin on the north shore. My favorite tv shows are Teen Wolf, Parks and Rec, The Office, and The Vampire Diaries. Something that really interets me is astronomy. I hope to study it in college! </h2><br><br>
  
  
</body>
</html>