<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <p class="title">Adventure Advisor</p>
  </head>
    <body background = "https://cdn.shopify.com/s/files/1/2495/5986/products/Paper-planes._2000x2000.jpg">
      <p>Most popular African destinations include: 
        <br>
        <br>
        <style>
  <!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <center><div class="polaroid">
  <img src="http://www.jemaa-el-fna.com/jef/wp-content/uploads/2013/04/Image-Jemaa-El-fna-7.jpg" style="width:100%">
  <div class="container">
    <p>Jemaa el-Fna, Morocco</p>
  </div>
</div>
        <br>
        <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <div class="polaroid">
  <img src="https://drwyjmricaxm7.cloudfront.net/repository/Mount-Kilimanjaro-Highlight--Web-Ready-Proper-302761466428329_crop_960_390.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Mount Kilimanjaro, Tanzania</p>
  </div>
</div>        
      <br>
       <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  box-align: center;
}

div.container {
  padding: 10px;
  background: white;
}

.list {
  text-align: center;
}
</style>
        <div class="polaroid">
  <img src="https://www.jamiiforums.com/attachments/16422430_683672468472147_4561387602436073939_o-jpg.494362/" alt="Norway" style="width:100%">
  <div class="container">
    <p>Nairobi, Kenya</p>
  </div>
</div></center>
<!--         Jemaa el-Fna, Morocco
        <br>
        <img src="http://www.jemaa-el-fna.com/jef/wp-content/uploads/2013/04/Image-Jemaa-El-fna-7.jpg"></img>
        <br>
        Mount Kilimanjaro, Tanzania
  <br>
  <img src="https://drwyjmricaxm7.cloudfront.net/repository/Mount-Kilimanjaro-Highlight--Web-Ready-Proper-302761466428329_crop_960_390.jpg"></img>
        <br>
        Nairobi, Kenya
<br>
  <img src="https://www.jamiiforums.com/attachments/16422430_683672468472147_4561387602436073939_o-jpg.494362/"></img> -->
        <br>
  <p>Africa is the second largest continent in the world for both population and size. It is home to over 1500 different languages. Islam is the most practiced religion, followed by Christianity. Arabic is the most widely spoken language in Africa. The intersection of the equator and the prime meridian can be found here. </p>
  <p>The Nile River, Mount Kilimanjaro, and Sahara Desert are major natural features found in Africa. You can visit local markets and bazaars, go on a safari, and hike trails and mountains.</p>
      <h5 class="char">Some characteristics of Africa are:
        <ul class="list">
          <li>Sparsely Populated</li>
        <li>Desert Climate</li>
        <li>Rich Culture</li>
        <li>Sweet Food</li>
        </ul></h5>
    
<center><img src="https://media.giphy.com/media/wGKDGPBn8dpQc/giphy.gif" width="480" height="313" frameBorder="0" class="giphy-embed" allowFullScreen></img></center>
  </body>
</html>