<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <!--<h4>Asia</h4>-->
    <p class="title">Adventure Advisor</p>
  </head>
    <body background = "https://i.pinimg.com/736x/6d/64/55/6d6455ff6ba9702699363f6ba9d32e46--dot-by-dot-pattern-paper.jpg">
      <p>Most popular Asian destinations include: 
        <br>
        <br>
        <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
  
}
</style>
        <center><div class="polaroid">
  <img src="https://www.popsci.com/sites/popsci.com/files/styles/1000_1x_/public/images/2017/05/psc0617_wl_dubai_02-copy.jpg?itok=NOemVOhq&fc=50,50" alt="Norway" style="width:100%">
  <div class="container">
    <p>Dubai, UAE</p>
  </div>
</div>
        <br>
        <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <div class="polaroid">
  <img src="https://static1.squarespace.com/static/55b0212ce4b036d86b0d587b/t/5ae00c43758d461f5db6b80a/1524632668463/12-1.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Da Nang, Vietnam</p>
  </div>
</div>        
      <br>
       <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  box-align: center;
}

div.container {
  padding: 10px;
  background: white;
}
</style>
        <div class="polaroid">
  <img src="https://www.bigbreaks.com/images/package/images/Thumbnail/Org_130_12_31_201510_24_07AM.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Maldives</p>
  </div>
</div></center>
        <br>
  <p>There are 48 countries in Asia. It is the most populated continent with 4.4 billion people and over half of the world's population. Here, more than 2,300 languages are spoken.</p>
  <p>The highest mountain in the world, Mount Everest, can be found in Asia. The Gobi Desert, Great Wall of China, and Taj Mahal can all be found here as well.</p>
      <h5 class="char">Some characteristics of Asia are:
        <ul>
          <li>Densely Populated</li>
        <li>Agricultural and Industrial</li>
        <li>Sweet and Spicy foods</li>
        <li>Modern Architecture and Pretty Nature</li>
        </ul>
      </h5>
  </body>
</html>