<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Medium Boho</title>
  </head>
  <body>
   <h1>Affordable Boho</h1>
   <br>
   <h2> You should shop at</h2>
   <img src="https://cdn2.bigcommerce.com/n-arxsrf/efmxu/product_images/uploaded_images/logo-9-1024x1024.png?t=1490211354">
   <br>
   <h3><a href= "https://symbologyclothing.com/">Symbology</a> </h3>
   <br>
   <h3>Prepare to be obsessed. Symbology has out-of-this world cute pieces for NOT astronomical prices. They are committed to sustainability in multiple ways-- through environmental commitment and sustainable employment through fair-trade sourcing.</h3>
   <br>
  </body>
</html>
