<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Cheap Boho</title>
  </head>
  <body>
   <h1>Low Price Boho</h1>
   <img src="https://esellercafe-lzwl1hcgxb5juum.netdna-ssl.com/wp-content/uploads/2017/11/modcloth-logo-slate-copy.jpg">
   <br>
   <h2> You should shop at: </h2>
   <h3><a href= "https://www.modcloth.com/">Modcloth</a></h3>
   <br>
   <h3>Though Modcloth is more eclectic than boho, there is something for everyone here. From workwear to cute flowy pants-- you’ll be able to make these pieces pair back perfectly to your wardrobe. Have fun and look lovely!</h3>
   <br>
  </body>
</html>

