<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Expensive Boho</title>
  </head>
  <body>
   <h1>Designer Boho</h1>
   <br>
   <h2>You should shop at </h2>
   <img src="https://www.filepicker.io/api/file/gLT0tb9MT3qlNTp4pq0r">
   <br>
   <h2><a href= "https://shopyireh.com/">Yireh</a></h2>
   <br>
   <h2>Want to feel like a world-traveler diva and like an activist? You’ve found your store! Yireh is an ethically produced clothing (and home decor!!!) company with gorgeous and feminine pieces.</h2>
   <br>
  </body>
</html>