<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <!--<h4>Europe</h4>-->
    <p class="title">Adventure Advisor</p>
  </head>
    <body background = "https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0133/8907/rrrrpaper-jets-fabric-outlines_mirror.png">
      <p>Most popular European destinations include: 
        <br>
        <br>
        <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <center><div class="polaroid">
  <img src="http://buzz.bournemouth.ac.uk/wp-content/uploads/2014/05/pier-21.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Bournemouth, UK</p>
  </div>
</div>
        <br>
        <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <div class="polaroid">
  <img src="http://www.kibrisortam.com/wp-content/uploads/2017/05/tatil-cenneti-girne.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Gazimagusa, Cyprus</p>
  </div>
</div>        
      <br>
       <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  box-align: center;
}

div.container {
  padding: 10px;
  background: white;
}
</style>
        <div class="polaroid">
  <img src="https://cdn.tuifly.be/img/static/im1000/11000/11004/11004P.JPG" alt="Norway" style="width:100%">
  <div class="container">
    <p>Mykonos, Greece</p>
  </div>
</div></center>
        <br>
  <p>Europe is the second smallest continent by size, but the third largest by population. Russia accounts for about 40% of its area. There are more than 250 different languages spoken in the 50 different countries of Europe.</p>
  <p>There are many mountains found all over Europe, as well as beautiful beaches and islands along the coast. The temperatures vary greatly depending on where you are located. Some of the biggest tourist attractions here are The Leaning Tower of Pisa, the Vatican, the Colosseum, and the Eiffel Tower.</p>
      <h5 class="char">Some characteristics of Europe are:
        <ul>
          <li>Densely Populated</li>
        <li>Industrial</li>
        <li>Sweet foods</li>
        <li>Architecture and Nature</li>
        </ul>
      </h5>
  </body>
</html>