<!DOCTYPE html>
<html>
<head>
  <title>Fact Quiz</title>
  <a rel="stylesheet" href="homapeage.css">
</head>
<body>
  


<div class="w3-content w3-padding-large w3-margin-top" id="womens-rights">
<!-- <link rel="stylesheet" href="styles/index.scss" -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"; background-image: url(https://i.pinimg.com/564x/9f/78/cb/9f78cb87bd72ee58f71e3c744124265b.jpg);

"Open Sans"}
</style>
<body class="w3-dark-grey"> 

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
</div>
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="header"><b>Fact Quiz</b></h1>
    
  </header>

   
  <!-- BUTTON CODE -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="title-picture"></h1>
    <h1 class="w3-hide-large" style="white-space:nowrap">Fact Quiz</h1>
  </div>
  <!-- Navbar (placed at the bottom of the header image) -->
  
  <div class="w3-bar w3-pink w3-round w3-display-bottommiddle w3-big" style="bottom:-16px">
   
    <a href="homepage.html" class="w3-bar-item w3-button">HOME</a>
  
    
    <a href="facts.html" class="w3-bar-item w3-button">FACTS</a>
    <a href="about.html" class="w3-bar-item w3-button">ABOUT US</a>
  </div>
</header>

<!-- Navbar on small screens -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="homepage.html" class="w3-bar-item w3-button">HOME</a>
  <a href="facts.html" class="w3-bar-item w3-button">FACTS</a>
  <a href="about.html" class="w3-bar-item w3-button">ABOUT US</a>
</div>
</div>

</body>
</html>
  
<br>
  <br>
   <center>                     
<h1>  </h1>
</center>

  <ul>
     
    </body>
  <font color="black"> 
     <h3>1.Over 60% of college degrees that are awarded in the U.S are earned by women.</h3>
   
     <input class="button" type="radio" name="q1" value="10">True <br>
     <input class="button" type="radio" name="q1" value="20">False <br>
 
   
     <h3>2.The first person to ever win two Nobel Prize's in two different categories was a man. </h3>
     <input class="button" type="radio" name="q2" value="10">True <br>
     <input class="button" type="radio" name="q2" value="20">False <br>
      
    
     <h3>3.The first person to attempt going over Niagra Falls in a wooden barrel was a woman.</h3>
     <input class="button" type="radio" name="q3" value="3000">True <br>
     <input class="button" type="radio" name="q3" value="4000">False<br> <br>
     <input type="submit" onclick="alert('1.True:D  2.False,Marie Curie was the first!  3.True!')">
    </form>
  </center>
  </body>
  </html>