<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Expensive Girly</title>
  </head>
  <body>
   <h1>Designer Girly</h1>
   <br>
   <img src="https://rctom.hbs.org/wp-content/uploads/sites/4/2015/12/reformation-logo.jpg">
   <h2>You should shop at: </h2>
   <br>
   <h3><a href= "https://www.thereformation.com/"> Reformation</a></h3>
   <h3>Reformation uses water saving practices and sustainable materials to make beautiful clothes with comfortable silhouettes. Raven + Lily is a fair-trade company committed to eco-friendly fashion with artisan style. You’re guaranteed to find something fun and lovely at these fantastic stores!</h3>
   <br>
   <br>
   <h3><a href= "https://www.ravenandlily.com/"> Raven + Lily.</a></h3>
   <h3> Raven + Lily is a fair-trade company committed to eco-friendly fashion with artisan style. You’re guaranteed to find something fun and lovely at these fantastic stores!</h3>
  </body>
</html>
