<!DOCTYPE html>
<html>
  
  <head>
    
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Cheap Girly</title>
  </head>
  
  <body>
   <h1>Low Price Girly</h1>
    <img src = "https://cdn.shopify.com/s/files/1/1991/3801/files/logo_small.png?v=1517020868">
    <br>
    <br>
    <h2>You should shop at</h2>
   <h3><a href="https://www.stylesaint.com/">Style Saint</a></h3>
     <h3><p>Style Saint is commited to fashion without a ridiculous amount of waste. They use 99% less water than average clothing brands. They also pay workers 2000% more than average fashion companies.</p></h3>
  </body>
  
</html>
