<!DOCTYPE html>
<html>
  
  <head>
    
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Medium Girly</title>
  </head>
  
  <body>
   <h1>Medium Price Girly</h1>
    <img src = "http://www.peopletree.co.uk/images/pt/logo.png">
    <br>
    <br>
    <h2>You should shop at</h2>
   <h3><a href="ww.peopletree.co.uk">People Tree</a></h3>
     <h3><p>People tree is, and has been for the past 25 years, an inovative brand. They ar dedicated to providing alternitive options to fast fashion. They developed the first integrated supply chain for organic cotton from farm to final product. They are the first organisation anywhere to achieve GOTS (Global Organic Textile Standard) certification on a supply chain entirely in the developing world.</p></h3>
    <br>
    <img src = "https://cdn.shopify.com/s/files/1/0216/8450/files/mayamiko_logo_45f1461f-76d7-4a04-a5c4-db823665dfc1_205x@2x.png?v=1517020809">
    <h3><a href="https://www.mayamiko.com/">Mayamiko</a></h3>
    <h3><p> Mayamiko is part of the Textile Exchange. The Textile Exchange is a global non-profit that works closely with our members to drive industry transformation in preferred fibers, integrity and standards and responsible supply networks.</p></h3>
  </body>
  
</html>
