<!DOCTYPE html>
<html>
<head>
  <title> <img url("https://i.pinimg.com/564x/8a/df/01/8adf016f46d9ec6fa97bd1726938a6dc.jpg")> Health</title>
  <a rel="stylesheet" href="website.css">
    
</head>
<body>
  
<!-- Page content -->

<div class="w3-content w3-padding-large w3-margin-top" id="womens-rights">
<!-- <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"; background-image: url("https://i.pinimg.com/564x/72/ad/9b/72ad9be100d4bcd0f68c5d0e09176f10.jpg");
  }
</style>
<!-- <body class="w3-">  -->

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-pale-red w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
</div>
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  
  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-dark-grey">
<!--     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <h1 class="header"><b>WOMEN'S HEALTH</b></h1>
    
  </header>

   
  <!-- BUTTON CODE -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-gray w3-center">
<!--     <h1 class="title-picture">WOMENS RIGHTS</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">WOMENS RIGHTS</h5> -->
  </div>
  <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-pale-red w3-round w3-display-bottommiddle w3-big" style="bottom:-16px">
    <a href="homepage.html" class="w3-bar-item w3-button">HOME</a>
    <a href="facts.html" class="w3-bar-item w3-button">FACTS</a>
    <a href="about.html" class="w3-bar-item w3-button">ABOUT US</a>
  </div>
</header>

<!-- <!-- Navbar on small screens -->
<div class="w3-center w3-white w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button"></a>
  <a href="#involve" class="w3-bar-item w3-button"></a> 
<!--   <a href="#about" class="w3-bar-item w3-button">ABOUT US</a> -->
</div>
</div>
  <center><img src = "https://i.pinimg.com/564x/ae/94/99/ae9499e7f6622431f9756b2e399aed01.jpg"></center>
  
   <center><img src = "http://media.aceuniverse.com/pub/media/catalog/product/cache/image/480x680/e9c3970ab036de70892d86c6d221abfe/g/u/guest_biopic-holland_1.jpg"></center>
  </body>
  </html>
  
  