<!DOCTYPE html>
<html>
<head>
  <title>Women's Rights</title>
  <a rel="stylesheet" href="homapeage.css">
</head>
<body>
  


<div class="w3-content w3-padding-large w3-margin-top" id="womens-rights">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"; background-image: url("https://i.pinimg.com/564x/28/7e/58/287e5812242ae2ceb3cc4fb0e19551d3.jpg"); }
</style>
<body class="w3-dark-grey"> 

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-dark-grey w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
</div>
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="header"><b>WOMENS RIGHTS</b></h1>
    
  </header>

   
  <!-- BUTTON CODE -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="title-picture">WOMENS RIGHTS</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">WOMENS RIGHTS</h5>
  </div>
  <!-- Navbar (placed at the bottom of the header image) -->
  
  <div class="w3-bar w3-pink w3-round w3-display-bottommiddle w3-big" style="bottom:-16px">
   
    <a href="homepage.html" class="w3-bar-item w3-button">HOME</a>
    <a href="facts.html" class="w3-bar-item w3-button">FACTS</a>
    <a href="about.html" class="w3-bar-item w3-button">ABOUT US</a>
  </div>
</header>

<!-- Navbar on small screens -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button">HOME</a>
  <a href="#involve" class="w3-bar-item w3-button">GET INVOLVED</a>
  <a href="#about" class="w3-bar-item w3-button">ABOUT US</a>
</div>
</div>

</body>
</html>
  
<br>
  <br>
  <br>
  <br>
   <center>                 

    
<!--        {font-family: oswald} -->
      <font size="50" face=oswald color="black"> Select a Topic:</font>
   
  
</body>

  </br>
  <br>
  <h1><a href="wage_gap.html" class="w3-bar-item w3-button">Wage Gap</a></h1>
  </br>
<br>
  <h1> <a href="me_too.html" class="w3-bar-item w3-button">#MeToo</a></h1>
  </br>
<br>
  <h1> <a href="health.html" class="w3-bar-item w3-button">Womens Health</a></h1>
</br>
<br>
<h1><a href="stereotypes.html" class="w3-bar-item w3-button">Stereotypes</a></h1>
</br>
<br>
<h1> <a href="women.html" class="w3-bar-item w3-button">Women in History</a></h1>



</body>
</html>