<!DOCTYPE html>
<html>    

<head>
  <p class="introduction"> </p>
  <link rel="stylesheet" type="text/css" href="style2.css">
  <title> ECO + CHIC
  </title>
</head>


<body>
  <center>
  <h1>ECO + CHIC</h1>
  <br>
  <p id="header">
    <a href=inspo.html.erb>inspo</a>
    <a href=tipsandtricks.html.erb>tips + tricks</a>
    <a href=quiz.html.erb>quiz</a>
    <a href=othergreatsites.html.erb>more info</a>
    <br>
    <style>
    {textalign: middle}
      /* unvisited link */
      a:link {
        color: black;
      }
      /* visited link */
      a:visited {
        color: lightpink;
      }
      /* mouse over link */
      a:hover {
        color: lightpink;
      }
    </style>

<img src="https://i.pinimg.com/564x/91/bb/25/91bb25bff4b239d8ee8dbc1d96bfb4b3.jpg" imagealign:"middle";>
    <br>
    <br>
<br>
  Because consumers drive the economy and significantly impact corporate methods, we have the power to make significant change. Using only our wallets, we can convince companies to change their ways and switch to eco-friendly production methods.
One of the most detrimental industries to the wellbeing of the planet is the fashion industry. The fashion industry’s negative environmental impact is second only to oil. We have an opportunity like never before to change history. We can be activists by making informed decisions about the clothing and beauty products we buy. Take our eco-chic quiz to get matched with the sustainable clothing brand perfect for you. Then check out our Tips & Tricks and Style Inspo pages for more ways to help the environment and look great. Enjoy - nature will thank you! 

  </p>
  <br>

  <footer class="footer">
    <p><br>Kode with Klossy 2018 <br> Claire, Maddie & Sophie </p>
      <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/38419778_1111650059002368_6404122544181346304_n.jpg?_nc_cat=0&oh=a5739c3e6b885de26beb21a242df31a2&oe=5BC61777">
  </footer>

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
  </center>
</body>

</html>
