<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <title>Adventure Advisor</title>
  </head>
<!--   <div class="grid-container" style="background-color:#F9D0BC;">
  <div class="header" style="background-color:#F9D0BC;"> -->
<!--   </div>
  <div class="left" style="background-color:#F0EF68;">Trending Vacation Spots</div>
  <div class="middle" style="background-color:#AEDCA8;"><h2><button class="button" style="vertical-align:middle"><span>Africa</span></button><a href="Africa.html"</a>|<button class="button" style="vertical-align:middle"><span>N. America</span></button><a href="NAmer.html"</a>|<button class="button" style="vertical-align:middle"><span>S. America</span></button><a href="SAmer.html"</a>|<button class="button" style="vertical-align:middle"><span>Asia</span></button><a href="Asia.html"</a>|<button class="button" style="vertical-align:middle"><span>Europe</span></button><a href="Europe.html"</a>|<button class="button" style="vertical-align:middle"><span>Oceania</span></button><a href="Oceania.html"</a></h2>
 </div>  
  <div class="right" style="background-color:#203442;">Travel Tips & Links</div>
  <div class="footer">
    <p>Created by: Anna Perron, Cassidy Walsh, Allison Roberson</p>
  </div>
</div> -->
    <body background = "http://ainabestard.com/wp-content/uploads/2016/01/avions-raport.jpg">
      <p class="title">Adventure Advisor</p>
      <h4 class="countries"><button class="button" style="vertical-align:middle"><a href="Africa.html"><span>Africa</span></a></button>|<button class="button" style="vertical-align:middle"><a href="NAmer.html"</a><span>N. America</span></button>|<button class="button" style="vertical-align:middle"><a href="SAmer.html"</a><span>S. America</span></button>|<button class="button" style="vertical-align:middle"><a href="Asia.html"</a><span>Asia</span></button>|<button class="button" style="vertical-align:middle"><a href="Europe.html"</a><span>Europe</span></button>|<button class="button" style="vertical-align:middle"><a href="Oceania.html"</a><span>Oceania</span></button>|<button class="button" style="vertical-align:middle"><a href="vaca.html"</a><span>Trending Vacations</span></button></h4>
      <br>
      <br>

      <!--<h2><button class="button" style="vertical-align:middle"><a href="vaca.html"</a><span>Trending Vacations</span></button></h2>-->
      <!--<br>-->
      <!--<br>-->
      <style>
.mySlides {display:none;}
</style>
<body>



<center><div class="w3-content w3-section" style="max-width:1000px">
  <img class="mySlides" src="https://highcountryproperties.com/images/uploads/slider/_full/DSC_0005_%281%29.JPG" style="width:100%">
  <img class="mySlides" src="http://www.whiskeyyourway.com/img/best-tropical-vacations/_large/antique-tropical-vacation-spots-as-wells-as-world-beach-then-world-beach-vacations-tropical-vacation-spots_best-tropical-vacations_1200x1000.jpg" style="width:100%">
  <img class="mySlides" src="https://membertravelservices.files.wordpress.com/2016/07/bar-3_1000x667.jpg" style="width:100%">
    <img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMRmuQ8i9DAw63lvzdA73mfQQBmvyBp3_wtFEvp9803PL8kaMT" style="width:100%">
  <img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM6avQO0nV3cSG3eeUxVGOiuTsNJQeR2pMDeOHNHe_YfUL5gbO" style="width:100%">
  <img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWDLcUSngLPEh_06QG6OIrctV6uqnP-KUsZu1joitIsNKHCT5q" style="width:100%">
  </div></center>
  <br>
  <br>
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 6000); // Change image every 2 seconds
}
</script>

</body>
      </body>
      <style>
    
.footer {
    background-color: #F0EF68;
    padding: 5px;
}
</style>

<div class="footer">
  <a href="additional.html"><p><h5><center>Click Here For More!</center></h5></p></a>
</div>
  
</html>