<!DOCTYPE html>
<html>
<head>
<style>
/*<link rel= "stylesheet" href= "style2.css"> */
  * {
    box-sizing: border-box;
  }
body {
  border: 10px solid black;
}
  body {
    margin: 0;
    font-family: Didot;
    align:"middle";
  }

  .header {
    text-align: center;
    padding: 32px;
  }

  /* Create two equal columns that floats next to each other */

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .column img {
    margin-top: 12px;
  }

  /* Clear floats after the columns */

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>
</head>
<body>

  <!-- Header -->
  <div align="middle">
    <br>
    <h1>Sustainable Style Inspo</h1>
  </div>

  <!-- Photo Grid -->
  <div class="row">
    <div class="column">
      <img src="https://i.pinimg.com/564x/a2/55/37/a255379f3dde5a95ab318318d9f55b56.jpg" style="width:100%">
      <img src="https://i.pinimg.com/564x/15/5f/a3/155fa30c035bf5797a01cfcec624de55.jpg" style="width:100%">
      <img src="https://i.pinimg.com/564x/ef/21/b2/ef21b260377c54e1bcccb589a581f29d.jpg" style="width:100%">
      <img src="https://i.pinimg.com/564x/be/3a/a3/be3aa3f66910f7cd06839f0e4ad0d681.jpg" style="width:100%">
      <img src="https://i.pinimg.com/564x/83/b5/16/83b51642293063dea0f6cfb71668207b.jpg" style="width:100%">
      <img src="https://i.pinimg.com/564x/2f/40/a0/2f40a06a8c04512946827dc57b948703.jpg" style="width:100%">
      <img src="https://i.pinimg.com/564x/f7/3f/40/f73f40976439eacfaa1933c46e41cef8.jpg" style="width:100%">
      <img src="https://i.pinimg.com/564x/f9/06/48/f906488dfe5a7a8a72b19a100004c7c5.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="https://i.pinimg.com/564x/a5/bb/0e/a5bb0e5f50a73c799e0a187eb5299cfe.jpg" style="width:100%">
      <img src="https://i.pinimg.com/564x/bb/28/48/bb284889be0caa139d65494d9662828c.jpg" style="width:100%">
      <img src="https://i.pinimg.com/564x/00/cb/b5/00cbb5ad3435c7e1b257237251557956.jpg" style="width:100%">
      <img src="https://i.pinimg.com/564x/4d/2e/64/4d2e64f3d37b4a2422c13fc8ea100518.jpg" style="width:100%">
      <img src="https://i.pinimg.com/564x/b0/98/d7/b098d7967ae14c98bcd97e939c5ff278.jpg" style="width:100%"> 
      <img src="https://i.pinimg.com/564x/e2/e3/2e/e2e32e191d43dc0fb7eec42672b479e2.jpg" style="width:100%">     
    </div>

</body>

</html>
