<!DOCTYPE html>
<html>
<head>
  <title>Women's Rights</title>
  <a rel="stylesheet" href="homapeage.css">
</head>
<body>
  
<!-- <img src ="https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1440,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1509589458/171101-ryan-metoo-tease_ann11k" width="300" height="100"> -->

<div class="w3-content w3-padding-large w3-margin-top" id="womens-rights">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"; 
  background-image:
    url("https://i.pinimg.com/564x/6a/4d/8a/6a4d8aea1460f7b96841efb9f3c45632.jpg");}
</style>

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-dark-gray w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
</div>
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="header"><b>#METOO</b></h1>
  </header>

   
  <!-- BUTTON CODE -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
<!--     <h1 class="title-picture">#METOO</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">#METOO</h5> -->
  </div>
  <!-- Navbar (placed at the bottom of the header image) -->
  
  <div class="w3-bar w3-pink w3-round w3-display-bottommiddle w3-big" style="bottom:-16px">
   
    <a href="homepage.html" class="w3-bar-item w3-button">HOME</a>
    <a href="facts.html" class="w3-bar-item w3-button">FACTS</a>
    <a href="about.html" class="w3-bar-item w3-button">ABOUT US</a>

    </div>
</header>

<!-- Navbar on small screens -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button">HOME</a>
  <a href="#involve" class="w3-bar-item w3-button">FACTS</a>
  <a href="#about" class="w3-bar-item w3-button">ABOUT US</a>
</div>
</div>
<br>
<br>
 <center><img src="https://divorcedmoms.com/wp-content/uploads/2017/10/Me-Too.jpg" width="300" height="200"></center>
  <br>
 
  <p>
   <ul>
    <li>The #metoo movement, was founded in 2006 by Tarana Burke in order to provide a support system for women who had survived sexual violence, as well as to help raise awareness for young women who have been victims of violence in regards to their gender.</li>
    <br>
    <li>Tarana Burke is a survivor of sexual assault and she wanted to create and do something to help other women and young girls of color who had gone through sexual violence.</li>

 <center><img src="http://graphics.chicagotribune.com/me-too-timeline/img/burke.jpg" width="300" height="200"></center>
 <br>
   
     <li>#metoo became a full fledged movement after an actress tweeted, asking all those who had been victims of sexual assault to comment a 'me too.' It went viral, causing it to reignite into a movement.</li>
     <br>
     <li>Fact: In January 2018, Stop Street Harassment (SSH) commissioned a 2,000-person, nationally representative survey on sexual harassment and assault, conducted by Growth from Knowledge (GfK). It found that nationwide, 81% of women and 43% of men reported experiencing some form of sexual harassment and/or assault in their lifetime.</p>
     <br>
     <li>This movement has-and continues to- speak of sexaul assault and violence for both men and women. Bringing up a major topic that for such a long time was covered in silence and shame. But now, because of it, marches and protests have sprung up around the US and even the world. #METOO brought into the light something that for too long was being ignored and made room for change to occur.</li>
     <br>
     <li>
       <a href="https://www.theatlantic.com/entertainment/archive/2017/10/the-movement-of-metoo/542979/">Click Here</a>
       for more information about #METOO and it's vitality in our society. 
      </li>
  </ul>
</p>
  
<img src="https://mountainx.com/wp-content/uploads/2018/01/CLKS4217-1100x731.jpg" width="300" height="200">

<img src="https://pbs.twimg.com/media/DMgYcZfWkAACV2C.jpg" width="300" height="250">
<img src="https://www.adn.com/resizer/rPTPKjv2uEqBWbEqcnFncWhPGrQ=/1200x0/s3.amazonaws.com/arc-wordpress-client-uploads/adn/wp-content/uploads/2018/03/08101440/WORLDNEWSINTERNATIONAL-WOMENS-DAYZUM.jpg" width="300" height="200">

</body>
</html>