<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Cheap Mini</title>
  </head>
  <body>
   <h1>Low Price Minimalistic</h1>
   <img src= "https://d3tv8y14ogpztx.cloudfront.net/pulses/images/000/032/970/show_box/everlane-dele.jpg">
   <br>
   <img src= "https://rankabrand.org/uploads/brand/16312/Krochet-Kids-logo.jpg">
   <br>
   <h2>You should shop at:</h2>
   <h3><a href= "https://www.everlane.com/">Everlane </a></h3>
   <h3><a href= "https://www.krochetkids.org/">Krochet Kids.</a></h3>
   <h3>These companies are radically transparent. Through fair trade and ethical factories, they are changing how the fashion industry operates.</h3>
  </body>
</html>
