<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Expensive Mini</title>
  </head>
  <body>
   <h1>Designer Minimalistic</h1>
   <h2>You should shop at: </h2>
   <img src="https://www.stonebarnscenter.org/wp-content/uploads/2018/02/EILEEN-FISHER-logo-stacked-jpg.jpg">
   <img src="http://events.wtfveganfood.com/wp-content/uploads/2013/06/Screen-Shot-2013-06-11-at-7.10.28-PM1.png">
   <br>
   <h3><a href= "https://www.eileenfisher.com/"> Eileen Fisher </a></h3>
   <h3><a href= "https://www.vettacapsule.com/">Vetta</a></h3>
   <br>
   <h3>Eileen Fisher is committed to supporting environmental causes in addition to female empowerment. They also have green initiatives at their headquarters. Vetta has perfect capsuling pieces at an affordable cost. Vetta is committed to sustainable materials and ethical factories. Have fun shopping! :) </h3>
   <br>
  </body>
</html>
