<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Medium Mini</title>
  </head>
  <body>
   <h1>Affordable Minimalistic</h1>
   <h2>You should shop at </h2>
   <img src= "https://static1.squarespace.com/static/5554f186e4b0efc8c23b211a/573bfc8f86db4396bca817df/575efd1645bf21490257c20d/1473010534572/SiiZU+2.jpg?format=500w">
   <br>
   <h3><a href= "https://siizu.com/">Siizu</a></h3>
   <h3>Siizu is a unique brand offering sleek fashion without all the middle-men. They use 100% eco-friendly fabric and give 10% of their profits back to planting trees. Plus, you’ll love the quality of the products you recieve.</h3>
  </body>
</html>
