<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <!--<h4>North America</h4>-->
    <p class="title">Adventure Advisor</p>
  </head>
    <body background = "https://static.mijnwebwinkel.nl/winkel/dutch-lifestyle/image/cache/full/d8dfc1a7767e1b0bf0fa246eb762e7d05ba8df1c.jpg">
      <p>Most popular North American destinations include: 
        <br>
        <br>
        <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <center><div class="polaroid">
  <img src="https://cnd0.skisolutions.com/uploads/image/photo/18507/fernie-morning.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Fernie, British Columbia, Canada</p>
  </div>
</div>
        <br>
        <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <div class="polaroid">
  <img src="https://www.tripsavvy.com/thmb/8oCFShOnvXyKtaNPRlOvv23a3N0=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/skyline-indianapolis-171527309-593d77793df78c537ba98c6f.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Indianapolis, Indiana</p>
  </div>
</div>        
      <br>
       <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  box-align: center;
}

div.container {
  padding: 10px;
  background: white;
}
</style>
        <div class="polaroid">
  <img src="https://static1.squarespace.com/static/564d14dfe4b0290681184a82/58092d61f7e0abd4e5681d82/58092d96579fb31efea8395d/1476996511596/Denali+National+Park+-+011.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Denali National Park, Alaska</p>
  </div>
</div></center>
<!--         Fernie, British Columbia, Canada
        <br>
        <img src="https://cnd0.skisolutions.com/uploads/image/photo/18507/fernie-morning.jpg"></img>
        <br>
        Indianapolis, Indiana
  <br>
  <img src="https://www.tripsavvy.com/thmb/8oCFShOnvXyKtaNPRlOvv23a3N0=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/skyline-indianapolis-171527309-593d77793df78c537ba98c6f.jpg"></img>
        <br>
        Denali National Park, Alaska
<br>
  <img src="https://static1.squarespace.com/static/564d14dfe4b0290681184a82/58092d61f7e0abd4e5681d82/58092d96579fb31efea8395d/1476996511596/Denali+National+Park+-+011.jpg"></img> -->
        <br>
  <p>There are 23 countries in North America and a variety of habitats home to 965 mammal species. Hundreds of languages are spoken here. An interesting fact about North America is that it has hosted the Olympics twelve times.</p>
  <p>North America holds all of the major biomes: tropical rainforest, grassland, desert, tundra and coral reef. Here you can find the famous and spectacular Appalachian and Rocky Mountains, the Mississippi River, the Great Lakes, Niagara Falls and lots of other cool geographical features.</p>
      <h5 class="char">Some characteristics of North America are:
        <ul>
          <li>Moderately Populated</li>
        <li>Industrial</li>
        <li>Salty foods</li>
        <li>Beautiful Nature</li>
        </ul>
      </h5>
<center><img src="https://media.giphy.com/media/d7qFTitBNU9kk/giphy.gif"></img></center>
  </body>
</html>
    