<!DOCTYPE html>
  <title>Adventure Advisor</title>
  <body background = "https://woodr7.files.wordpress.com/2013/02/45-paper-planes-02.jpg">
      <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
  <style>
  .header {
    /*background-color: #94C2CF;*/
    padding: 5px;
    font-family: 'Unica One', cursive;
}
</style>
<body>
<div class="header">
  <p class="title">Adventure Advisor</p>
  <br>
</div>
  </body>
<style>
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  font-family: 'Unica One', cursive;
}
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 740px; /* Should be removed. Only for demonstration */
}
/* Left and right column */
.column.side {
    width: 25%;
    height: 740px;
}
/* Middle column */
.column.middle {
    width: 50%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
</style>
<body>
  <h2><div class="column side" style="background-color:#F0EF68;"><center>Looking For...<br><br>
    <a href="https://www.hotels.com/">Hotel Deals?</a><br><br>
    <a href="https://www.google.com/flights#flt=/m/0fpzwf..2018-08-18*./m/0fpzwf.2018-08-22;c:USD;e:1;sd:1;t:h">Flight Deals?</a><br><br>
    <a href="https://www.carrentals.com/">Car Rentals?</a><br><br>
    <a href="https://www.kayak.com/packages">Package Deals?</a><br><br>
    </center></div></h2>

  <div class="column middle" style="background-color:#AEDCA8;">Travel tips:
<h6><ul>
  <li>Make sure you have a way to pay for things</li>
  <br>
  <br>
  <li>Research how and where to exchange currency if necessary</li>
  <br>
  <br>
  <li>Don't forget to bring a map!</li>
  <br>
  <br>
  <li>Try visiting a travel agency</li>
  <br>
  <br>
<li>Make extra copies of your passport and other important documents</li>
  <br>
  <br>
  <li>Learn some basic phrases in the native language of the area that you're traveling</li>
  <br>
  <br>
<li>Be friendly and respectful!</li>
  <br>
  <br>
<li>Have a general idea of what you want to do beforehand and book some tickets, but don't be afraid to be spontaneous!</li>
  </ul></h6>
</div>
  <h2><div class="column side" style="background-color:#F9D0BC;">Additional Links
  <br>
  <br>
    <a href="https://www.airbnb.com/">airbnb</a>
      <br>
      <br>
      <a href="https://www.eaglecreek.com/blog/what-pack-ultimate-travel-packing-checklist">Packing Checklist</a>
      <br>
      <br>
      <a href="https://www.moneycrashers.com/what-pack-vacation-tips-checklist/">Packing Tips</a>
      <br>
      <br>
      <a href="https://www.usnews.com/news/best-countries/slideshows/9-places-the-us-government-warns-not-to-travel-right-now">Travel Alerts & Warnings</a>
      </div></h2>
</body>
</html>