<!DOCTYPE html> 
<html> 
  <link rel= "stylesheet" href= "style2.css">
      <style>
/* {font-family: Didot; align:"middle";} */
      /* unvisited link */
      a:link {
        color: black;
      }
      /* visited link */
      a:visited {
        color: lightpink;
      }
      /* mouse over link */
      a:hover {
        color: lightpink;
      }
    </style>
  <head> 
    <title>More Info </title>
  </head> 
  <body> 
    <h1 align="middle"; font-family: "Didot";> More Info </h1> 
    <h3 align="middle"; font-family: "Didot";> More beauty, fashion, and accessory brands with eco chic products! </h3>
    <h4 align="middle"; font-family:"Didot";> Disclaimer:<h4> A lot of these brands are a bit more expensive, however with a higher price comes higher positive environmental payoff. Natural fashion and beauty often are higher quality, last longer, and are better for your body. By purchasing from brands with a commitment to fostering positive change you can be an activist with your wallet. </p>
    <brk> 
      <ul> 
        <li> Beauty </li> 
        <ul> 
          <li> <a href= "https://www.origins.com/">Origins</a> $$ </li> 
          <li> <a href= "https://thrivecausemetics.com/">Thrive Causemetics</a> $$ </li> 
          <li> <a href= "https://www.farmacybeauty.com/">Farmacy</a> $$ </li> 
          <li> <a href= "https://www.herbivorebotanicals.com/pages/about-us-1">herbivore</a> $$ </li> 
          <li> <a href= "https://www.youthtothepeople.com/">youth to the people</a> $$ </li> 
          <li> <a href= "https://www.drunkelephant.com/">Drunk Elephant</a> $$$ </li> 
          <li> <a href= "https://www.tatcha.com/">Tatcha</a> $$$ </li>
          <br>
        </ul> 
        <li> Shoes </li> 
        <ul> 
          <li><a href= "https://www.allbirds.com/">All Birds</a> $$</li> 
          <li><a href= "https://www.nativeshoes.com/womens"> Native Shoes </a> $$ </li> 
          <li><a href= "http://www.veja-store.com/en/17-women"> Veja </a> $$ </li> 
          <li><a href= "https://www.bboheme.com/"> Bourgeois Boheme </a> $$$ </li> 
          <li><a href= "https://nisolo.com/pages/ethically-made"> Nisolo </a> $$$ </li> 
          <li><a href= "https://www.rafausa.com/"> Rafa </a> $$$</li> 
          <br>
        </ul> 
        <li> Accessories </li> 
          <ul> 
            <li><a href="https://almaboa.com/accessories/"> Almaboa</a>$</li> 
            <li><a href="https://www.shopethica.com/freedom-of-animals">Freedom of Animals</a>$$</li> 
            <li><a href="https://mattandnat.com/">Matt & Nat</a>$$</li> 
            <br>
        </ul>
        <li> Plus-sized options </li> 
          <ul> 
            <li><a href="http://www.karenkane.com">Karen Kane</a>$$</li> 
            <li><a href="https://www.ontheplusside.com/">On The Plus Side</a>$$</li>
            <li><a href="https://hackwithdesignhouse.com/">Hackwith House</a>$$$</li> 
            <br>
        </ul>
        
  </body>
</html>
