<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Medium Preppy</title>
  </head>
  <body>
   <h1>Affordable Preppy</h1>
   <br>
   <h2> You should shop at</h2>
   <img src="https://customers.seomanager.com/knowledgegraph/logo/livefashionable_myshopify_com_logo.jpg">
   <br>
   <h3><a href= "https://www.livefashionable.com/">ABLE.</a></h3>
   <br>
   <h3>This Nashville based company is committed to sustainability and breaking the cycle of poverty through female empowerment. With great materials and quality, your purchases are sure to last a long time.</h3>
  </body>
</html>
