<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Cheap Preppy</title>
  </head>
  <body>
    <br>
   <h1>Low Price Preppy</h1>
   <br>
   <h2> You should shop at</h2> 
   <img src="http://africa.reachforchange.org/media/cms_page_media/2324/H%26M%20logo_nsMc5h3.png">
   <br>
   <h3><a href= "http://www2.hm.com/en_us/women/concepts/conscious-sustainable-style.html">H&M Conscious Collection.</a></h3>
   <br>
   <h3>The H&M Conscious Collection is changing H&M’s fast fashion reputation. Through the use new sustainable materials such as recycled silver and ECONYL®, a 100% regenerated fibre from fishnets and other nylon waste, H&M is doing great things. Go ahead, treat yourself!</h3>
  </body>
</html>
