<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Expensive Preppy</title>
  </head>
  <body>
   <h1>Designer Preppy</h1>
   <h2> You should shop at </h2>
   <img src="https://www.promotioncodesfor.com/images/stores/1448607185-karenkane.jpg">
   <br>
   <h3><a href= "http://www.karenkane.com/">Karen Kane.</a></h3>
   <br>
   <h3>This super cute brand is full of great finds! You will look fantastic and feel even better. They also offer plus-sized options.</h3>
   <br>
   <h3>If you are looking for a preppy and stylish winter coat (#Minnesnowta) go to <a href= "https://vautecouture.com/"> Vaute </a> to find something wonderful, warm, and nice to nature. Happy shopping! </h3>
  </body>
</html>
