<!DOCTYPE html>
<html>
  
  <head>
    
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>EcoChiqQuiz</title>
  </head>
  
  
  <body>
    <form method="post" action="/results">
    <h1>Take this quiz to find good sustainable clothing brands for your style and price range</h1>
    <br>
    <div class=questions>
    <h3>What is your personal style?</h3>
    <input type="radio" name="style" value="1">Vintage<br>
    <input type="radio" name="style" value="4">Girly<br>
    <input type="radio" name="style" value="7">Sporty<br>
    <input type="radio" name="style" value="10">Minimalistic<br>
    <input type="radio" name="style" value="13">Boho<br>
    <input type="radio" name="style" value="16">Preppy<br>
    <br>
    <h3>What is your price range?</h3>
    <input type="radio" name="price" value="1">$<br>
    <input type="radio" name="price" value="2">$$<br>
    <input type="radio" name="price" value="3">$$$<br>
    </div>
    <br>
    <button type = "submit" class="new">Find clothing brands for me!</button>
    </form>
  </body>
  <br>
  <br>
  <br>
  <br>
   <br>
  <br>
  <br>
  <br>
   <br>
  <br>
  <br>
  <br>
</html>


