<!DOCTYPE html>
<html>
  <head>
    <title>quiz - treat yo self</title>
  </head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}/* turns off parallax on mobile */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
  
/*css for buttons */
  .button {
    background-color: #4A4A4A; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    font-family: "Lato", sans-sarif;
}

body {
    background-image: url("https://i.pinimg.com/originals/49/e4/33/49e4336af845b52af5c95b68e64bb081.jpg");
    min-height: 100%;
}

body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.white {
  background-color: white;
}
</style>
  
<body>
<br><br><br><br><br><br>
<!-- navbar -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="index.html" class="w3-bar-item w3-button">home</a>
    <a href="about.html" class="w3-bar-item w3-button w3-hide-small"></i> about</a>
    <a href="quiz.html" class="w3-bar-item w3-button w3-hide-small"></i> quiz</a>
    <a href="motivation.html" class="w3-bar-item w3-button w3-hide-small"></i> motivation</a>
    <a href="selfcare.html" class="w3-bar-item w3-button w3-hide-small"></i> self-care</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>
  </div>

  <!-- navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="index.html" class="w3-bar-item w3-button" onclick="toggleFunction()">home</a>
    <a href="about.html" class="w3-bar-item w3-button" onclick="toggleFunction()">about</a>
    <a href="quiz.html" class="w3-bar-item w3-button" onclick="toggleFunction()">quiz</a>
    <a href="motivation.html" class="w3-bar-item w3-button" onclick="toggleFunction()">motivation</a>
    <a href="selfcare.html" class="w3-bar-item w3-button" onclick="toggleFunction()">self-care</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>

<!-- logo -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">quiz <span class="w3-hide-small">
  </div>
</div>

<!-- buttons --> 
<!--     <button class="button">Yes</button> -->
<div class = "white">
<br><br><br><br>    
<center>
  <p>you're on the right track! take some time for yourself.</p>
</center>  
<br><br>
   
<center> 
  <form action="index.html">
    <input class="button" type="submit" value="home" />
  </form>
</center>
    
<br>
<br>  
  
    
    
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
</div>  
<!-- footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <center>
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>to the top</a>
  </center>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 
<!-- Add Google Maps -->
<script>

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

  
</body>
</html>
