<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <!--<h4>South America</h4>-->
    <p class="title">Adventure Advisor</p>
  </head>
    <body background = "https://t1.pixers.pics/img-ca9944d9/image?H4sIAAAAAAAAAzWNUQrCMBBEr9OCZDfddjfmAPntEUqMiVa0hiaCxzciMh9veDAMvLbiU4S03mvci82-Nm4dqoGMPvzR4pzrbXruD1-7W770cK01FwtQSOX13cYNocCvgyCCm0EYkIARDH_V4mZhJEbDi2acjPhIMnCMSZ9H1CcMetJCxzgG1V4-lgBD6Z8AAAA=">
      <p>Most popular South American destinations include: 
        <br>
        <br>
        <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <center><div class="polaroid">
  <img src="https://ssl.c.photoshelter.com/img-get2/I0000JRdSYH4Nngo/fit=1000x750/Foto-Aerea-Guarapari.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Guarapari, Brazil</p>
  </div>
</div>
        <br>
        <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <div class="polaroid">
  <img src="https://3.bp.blogspot.com/-t9GQKjK17-4/WTKsjMOU6uI/AAAAAAAB4e8/oJ6ZSoScSasac6NVns-pPgQlp6jwIpoaACLcB/s1600/Mar-del-Plata.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Mar Del Plata, Argentina</p>
  </div>
</div>        
      <br>
       <style>
<!-- div.polaroid {
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  box-align: center;
}

div.container {
  padding: 10px;
  background: white;
}
</style>
        <div class="polaroid">
  <img src="https://i.pinimg.com/originals/56/17/4f/56174fea8ba939f949a56e1a0c041946.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Lake Titicaca, Peru</p>
  </div>
</div></center>
        <br>
  <p>There are 12 countries in South America, the largest being Brazil and the smallest being Suriname. The Andes Mountains, the longest mountain range in the world, can be found here. The southernmost city in the world, Ushuaia, Argentina, is on the South American continent as well!</p>
  <p>South America has some pretty amazing places to visit such as Macchu Picchu, the Amazon, Atacama desert, Angel Falls, and the Andes Mountain range. The Atacama desert is the driest place on earth. Lake Titicaca is the largest lake in South America shared by both Peru and Bolivia.</p>
      <h5 class="char">Some characteristics of South America are:
        <ul>
          <li>Moderately Populated</li>
        <li>Agricultural</li>
        <li>Spicy foods</li>
        <li>Rich Culture</li>
        </ul>
      </h5>
  </body>
</html>