<!DOCTYPE html>
<html>
  <head>
    <title>self-care - treat yo self</title>
  </head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}


/* turns off parallax on mobile */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>
  
<body>
<br><br><br><br><br><br>
<!-- navbar -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="index.html" class="w3-bar-item w3-button">home</a>
    <a href="about.html" class="w3-bar-item w3-button w3-hide-small"></i> about</a>
    <a href="quiz.html" class="w3-bar-item w3-button w3-hide-small"></i> quiz</a>
    <a href="motivation.html" class="w3-bar-item w3-button w3-hide-small"></i> motivation</a>
    <a href="selfcare.html" class="w3-bar-item w3-button w3-hide-small"></i> self-care</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>
  </div>

  <!-- navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="index.html" class="w3-bar-item w3-button" onclick="toggleFunction()">home</a>
    <a href="about.html" class="w3-bar-item w3-button" onclick="toggleFunction()">about</a>
    <a href="quiz.html" class="w3-bar-item w3-button" onclick="toggleFunction()">quiz</a>
    <a href="motivation.html" class="w3-bar-item w3-button" onclick="toggleFunction()">motivation</a>
    <a href="selfcare.html" class="w3-bar-item w3-button" onclick="toggleFunction()">self-care</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>

<!-- logo -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">self-care <span class="w3-hide-small">
  </div>
</div>
<div class = "white">
<!-- accordion -->
<div class="w3-content w3-container w3-padding-64" id="about">
  
  
<style>
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: "Lato", sans-serif;
}

  .active, .accordion:hover {
    background-color: #ccc; 
}

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

body {
    background-image: url("https://i.pinimg.com/originals/49/e4/33/49e4336af845b52af5c95b68e64bb081.jpg");
    min-height: 100%;
}

body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.white {
  background-color: white;
}
</style>
</head>
<body>

  
<!-- accordion titles/content -->
  <center>
<h2>topics</h2>
  </center>
<center>
<button class="accordion">stress</button>
<div class="panel">
  <p>tips:</p>
  <p>-once you’re done with that final, reward yourself for all that stress you might have gone through. you deserve it!<br>-spend time with your loved ones. watch a movie or cook with your family or friends!<br>
-listen to music. it’ll make you feel better</p>

</div>
</center>

<center>
<button class="accordion">positivity</button>
<div class="panel">
  <p>tips:</p>
  <p>-search up quotes on google that can inspire you to feel better.<br>
-think of the positive outcomes that could happen in difficult situations<br>
-talk to people who make you happy and care about you.<br></p>
</div>
</center>

<center>
  <button class="accordion">pampering yourself</button>
<div class="panel">
  <p>tips:</p>
  <p>-give yourself a spa day or massage after that final. it’ll motivate you for that next final too!<br>
-retail therapy may be harmful if done constantly, but treating yourself to a cute scarf or shoes won’t hurt you once in a while.<br>
-watch your favorite tv show or videos!</p>

</div>
</center>

  <center>
  <button class="accordion">organization</button>
<div class="panel">
  <p>tips:</p>
  <p>-buy a cute planner that will motivate you to use it more<br> -devote 20 minutes in one week to planning out your entire week and obligations. you’ll feel so much better after you do this!<br>-don’t overwhelm yourself with too many activities! remember that giving yourself time and pampering yourself is also important even in a busy life.</p>

</div>
</center>
  
<br>
<br>
  <center>
    <p>disclaimer:</p>
    <p>we don't guarantee that these methods and tips will work for you. we are merely teenage girls trying to help people improve their life in little ways. thank you.</p>
  </center>
<br>
<br>  
  
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
  </div>
  </div>
<!-- footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <center>
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>to the top</a>
  </center>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 
<!-- Add Google Maps -->
<script>

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

</body>
</html>
