<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Medium Sporty</title>
  </head>
  <body>
   <h1>Affordable Sporty</h1>
   <img src = "https://cdn1.couponsherpa.com/images/merchants/large/girlfriend-collective.png"> <img src="https://cdn.shopify.com/s/files/1/0287/3670/files/logo2.jpg?10675298972981893243">
   <img src = "https://images.sxsw.com/Nzm9pmIhIN-NKGJp0AWbAS4vDzw=/174x121:1129x803/500x/images.sxsw.com/49/5f7f20b0-5080-4836-b35d-90d4421d0d16/OE2797" width=200px>
   <h3><p> With this style and price-point you have a lot of options! You can shop at <a href= "https://www.outdoorvoices.com/">Outdoor Voices</a>,<a href= "https://www.thereformation.com/categories/girlfriend-collective-reformation">Girlfriend Collective, <a href= "https://unitedbyblue.com/" >United by Blue,</a> or <a href= "https://www.threadsforthought.com/" >Threads for Thoughts.</a> These brands are doing some crazy awesome things from encouraging healthy fitness routines to making clothing out of recycled materials. </p></h3>
  </body>
</html>
