<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Expensive Sporty</title>
  </head>
  <body>
   <h1>Designer Sporty</h1>
   <img src= "https://qph.fs.quoracdn.net/main-qimg-6eae0ccc2540787640c3c5e2fdb42282.webp">
   <h2>You should shop at </h2>
   <h3><a href= "https://www.patagonia.com/home/">Patagonia. </a></h3>
   <h3>You will find gorgeous outdoor clothing that you can feel great about. Patagonia is committed to sustainable materials and methods of production, in addition to giving back to environmental causes.</h3>
  </body>
</html>

