<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Cheap Sporty</title>
  </head>
  <body>
   <h1>Low Price Sporty</h1>
   <br>
   <h2> You should shop at:</h2>
   <img src="https://static1.squarespace.com/static/58be189fe6f2e1086b2f92db/t/5a209e6cc8302566a3aacfeb/1533060866542/?format=1500w">
   <br>
   <h3><a href="https://wearpact.com/">Pact</a></h3> 
   <br>
   <h3><a href="https://weheartcleanwater.com/">I heart clean water.</a></h3>
   <br>
   <h3>You’ll be able to find sweet and simple sporty fashion without the crazy sticker shock!</p></h3>
  </body>
</html>
