<!DOCTYPE html>
<html>
<head>
  <title>Stereotypes</title>
<!--   <a rel="stylesheet" href="website.css"> -->
    
<d>
  
<!-- Page content -->

<div class="w3-content w3-padding-large w3-margin-top" id="womens-rights">
<!-- <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
  body {font-family: "Open Sans"; background-image: url("https://i.pinimg.com/564x/61/89/78/618978dec67d7d373ab1a2c199a24cce.jpg");
  background-repeat: repeat
}
   
</style>
<!-- <body class="w3-pale-red">  -->

  

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-dark-grey w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
</div>
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<!-- <div class="w3-content" style="max-width:1600px">
 -->
  
  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
<!--     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <h1 class="header"><b>STEREOTYPES</b></h1>
    
  </header>

   
  <!-- BUTTON CODE -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
<!--     <h1 class="title-picture"> -->
<!--     <h5 class="w3-hide-large" style="white-space:nowrap"></h5> -->
  </div>
  <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-dark-grey w3-round w3-display-bottommiddle w3-big" style="bottom:-16px">
    <a href="homepage.html" class="w3-bar-item w3-button">HOME</a>
    <a href="facts.html" class="w3-bar-item w3-button">FACTS</a>
    <a href="about.html" class="w3-bar-item w3-button">ABOUT US</a>
  </div>
</header>

<!-- <!-- Navbar on small screens -->
<div class="w3-center w3-white w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button"></a>
  <a href="#involve" class="w3-bar-item w3-button"></a> 
<!--   <a href="#about" class="w3-bar-item w3-button">ABOUT US</a> -->
</div>
</div>
<h2 class = "w3-pale-red">What is stereotyping?:</h2><br>
<h3 class = "w3-pale-red"> This is a generalized view that leads to specific expectations on a group of people</h3><br>
<h2 class = "w3-pale-red">How is this a problem?:</h2><br>
<h3 class = "w3-pale-red">Harsh rules/expectations are put  on women and eventually lead to a very unhealthy mindset on individuals. One big issue is that women are expected to look flawless, media has really caused a shift in many mindsets on how women should look & act. Many teenage girls especially feel insecure about how they look and this can lead to eating disorders and depression. Another stereotype that women face is that they should not be in the math and science field. This discourages many girls from pursuing a career in STEM fields.</h3>



</body>
</html>
