<!DOCTYPE html> 
<html> 
  <head> 
    <title>tips + tricks </title> 
    <link rel= "stylesheet" href="style2.css">
<!--     <link rel= "stylesheet" href= "index.html"> -->
  </head> 
  <body> 
    <div  align="middle">
    <h1> Tips & Tricks! </h1>
   <img src="https://i.pinimg.com/564x/d7/30/32/d730325cebf19421fcd31f1ae335d97d.jpg">
    <h2> Being eco-friendly can be simple if you know what to do - here are a few tips to help you get started! </h2> 
    </div>
    <brk>
      <div id= "Tips"> 
    <ol style= font-family: Didot >
      <li> Donate Clothing </li> 
      <ul> 
        <li> Donating or consigning clothing you no lonfer wear helps to significantly reduce the textile waste thatends up in landfills. In addition, donating clothing to organizations such as The Salvation Army or Goodwill is a great opportunity to give back to people in need. </li> 
      </ul> 
      <li> Cut down on waste </li> 
      <ul> 
        <li> There are a lot of ways to limit the amount of waste you produce, such as recycling, using reusable bags, or starting a compost pile. Another great thing to do us use cloth towels rather than paper. Use a reusable water bottle. Cut water waste by cutting down on shower time. Though these changes are small, they have a big impact! They aren't the only options either - get creative! Being eco-friendly can be fun. :) </li> 
      </ul> 
      <li> Reduce your meat consumption</li>
      <ul> 
        <li> For only one pound of hamburger meat, roughly 1500 gallons of water are used. According to the UN 9% of CO2 emissions deriving from human-related activities is accounted for by the livestock sector. Even going vegetarian for one day a week can make a big difference. </li> 
      </ul> 
      <li> Try DIY or natural beauty products (check out our Other Great Sites page for some ideas!) Lots of beauty products use synthetic plastics that are harmful to the environment. Changing up your beauty routine can be super fun and good for the environment! </li> 
      <li> Use a reusable silverware. Buying washable utensils, like chopsticks or a spork, are a great way to help the environment. A lot of restaurants provide plastic silverware in to go orders - ask to skip the plastic and bring your own! </li> 
    </ol> 
        <p> Hope this helped out a bit! </p>
   </div>
      <br>
      <br>
      <br>
      
  </body>
</html>
