<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">  
    <p class="title">Adventure Advisor</p>
    <body background = "https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0566/4528/rrrpaper_airplanes_neon_pink_on_gray_shop_preview.png">
    <p class="varcds">Trending Vacations</p>
  </head>
  <body>
<h1><center>
    Bora Bora, French Polynesia
        <br>
        Maldives
        <br>
        Abu Dhabi, UAE
        <br>
       Da Nang, Vietnam
        <br>
       Reykjavik, Iceland
  
  </center></h1>
    <br>
  </body>
    <style>
.mySlides {display:none;}
</style>
<body>



<center><div class="w3-content w3-section" style="max-width:1000px">
  <img class="mySlides" src="https://highcountryproperties.com/images/uploads/slider/_full/DSC_0005_%281%29.JPG" style="width:100%">
  <img class="mySlides" src="http://www.whiskeyyourway.com/img/best-tropical-vacations/_large/antique-tropical-vacation-spots-as-wells-as-world-beach-then-world-beach-vacations-tropical-vacation-spots_best-tropical-vacations_1200x1000.jpg" style="width:100%">
  <img class="mySlides" src="https://membertravelservices.files.wordpress.com/2016/07/bar-3_1000x667.jpg" style="width:100%">
    <img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcKgnD6zMkyOQUHn4QtaOLnv70Jw-E0Ej0gCT8Aua0cjJs6CMoDA" style="width:100%">
  <img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4Ho5kibTiDQdxsMmtYxLR8i8yz_U_zj1oxWECcvkcQeQsIYLDrw" style="width:100%">
  <img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF-NP67DO2uRMERYK7Mop5B5OC6ONawRTOj0fUio3lTGtipkV3dA" style="width:100%">
  </div></center>
  <br>
  <br>
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 6000); // Change image every 2 seconds
}
</script>

</body>
      </body>
      <a href="https://www.harpersbazaar.com/culture/travel-dining/g5393/travel-bloggers-on-instagram/">Trending Vacations</a>
</html>