<!DOCTYPE html>
<html>
  
  <head>
    
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Expensive Vintage</title>
  </head>
  
  <body>
   <h1>Designer Vintage</h1>
    <img src = "https://apparelmagic.com/wp-content/uploads/2014/05/amour-vert-250.jpg">
    <h2>You should shop at</h2>
   <h3><a href="https://amourvert.com/">Amour Vert</a></h3>
     <h3><p>Amour Vert plants a tree for every tee shirt they sell. They have planted over 160,000 trees and supported 21 reforestation projects. Amour Vert pioneers inovatively sustanible and stylish fabrics. They locally source and produce their clothes to reduce waste.</p></h3>  
    <br>
    <!--<img src = "http://mote.agency/christy-dawn.png">-->
    <h3><a href="https://christydawn.com/blogs/our-story/how-its-made">Christy Dawn</a></h3>
    <h3>Christy Dawn uses exclusively deadstock to create their clothes. Deadstock is the leftover material fom major fashion houses. This material would otherwise be going to landfills.</h3>  
  </body>
  
</html>
