<!DOCTYPE html>
<html>
  
  <head>
    
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Medium Vintage</title>
  </head>
  
  <body>
   <h1>Medium Price Vintage</h1>
   <br>
   <br>
    <!--<img src = "https://www.wayup.com/cdn/company_logo/wZGfMHb9zC_20160531.jpg">-->
    <img src="https://cdn.shopify.com/s/files/1/0741/0221/t/9/assets/logo.png?1115241794250136998">
    <br>
    <br>
    <br>
    <h2>You should shop at</h2>
   <h2><a href="https://whimsyandrow.com/pages/about-us">Whimsy + Row</a></h2>
     <h3> Whimsy + Row is an ethical eco-friendly clothing brand. They use locally sourced fabrics and materials. Their clothes are handcrafted in small batches. They only work with factories that provide living wages and comfortable conditions for workers. </h3>  
  </body>
</html>