<!DOCTYPE html>
<html>
  
  <head>
    
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Cheap Vintage</title>
  </head>
  
  <body>
   <h1>Low Price Vintage</h1>
   <br>
    <img src="https://static1.squarespace.com/static/562943f3e4b084bf4b34a111/t/58f7ffb237c58172a4a958c2/1492647959651/Threduplogo?format=500w">
    <br>
    <br>
    <h2>You should shop at</h2>
   <h3><a href="https://www.thredup.com/">Thread Up</a></h3>
     <h3> Thread Up is an online secondhand clothes store. Thrifting is a great way to save on stylish brands as well as to save resources. While their clothing is used, it is far from out of style. They inspect their clothes for quality to ensure user satisfaction. Thread Up is also a great way to get rid of old clothes.</h3>
  </body>
  
</html>
