<!DOCTYPE html>
<html>
  <body>
<div class="w3-content w3-padding-large w3-margin-top" id="womens-rights">
<!-- <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"; 
  background-color: #FFA3A0
} 
  </style>
<!-- <body class="w3-pale-red">  -->

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-dark-gray w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
</div>
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="header"><b>WAGE GAP</b></h1> 
  </header>

   
  <!-- BUTTON CODE -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
<!--     <h1 class="title-picture">WOMENS RIGHTS</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">WOMENS RIGHTS</h5> -->
  </div>
  
  <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-black w3-round w3-display-bottommiddle w3-big" style="bottom:-16px">
    <a href="homepage.html" class="w3-bar-item w3-button">HOME</a>
    <a href="facts.html" class="w3-bar-item w3-button">FACTS</a>
    <a href="about.html" class="w3-bar-item w3-button">ABOUT US</a>
  </div>
</header>

<!-- Navbar on small screens -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button">HOME</a>
  <a href="#involve" class="w3-bar-item w3-button">FACTS</a>
  <a href="#about" class="w3-bar-item w3-button">ABOUT US</a>
</div>
</div>
  
<br>
<br>

  <center><img src="https://bloximages.newyork1.vip.townnews.com/santafenewmexican.com/content/tncms/assets/v3/editorial/2/04/204645be-5809-5912-a647-1d0c109dccca/59fc009f4b5f8.image.jpg" width="300" height="150"></center>
 <br>
 <p>
   <ul>
     <li>The wage gap does exist</li>
     <br>
     <li> In the United States, the wage gap between women and men is currently at 20%. Meaning for every dollar a man may make, a women will make merely .80 cents in comparison. Women make significantly less than men, with the gap widening when one takes race into account. Asian, black, and hispanic women make significantly less than both white men and white women.</li>
     <br>
     <li>According to the AAUW, the pay gap for women increases once they reach the age 24. For instance in 2016, women at the age of 20-24 were paid 96% the amount that men were. As women got to the age of 55-64 the gap increased by 22%, leaving women getting paid only 74% of what men get in their salaries.</li>
     <br>
     <li>The pay gap for women wont close as women work their way up in their workforce, according to catalyst.org women only earned about 73% of what men did.</li>
     <br>
     <li>Depending on where one may live and the job that she may have, the gap either widens or narrows. But, on average, there is a 20% gap across the United States. It's a massive problem that needs to be addressed in our soceity, a problem that affects not merely women, but all those in their lives. Equal pay for equal work is a necessity, not just an ideal.</li> 
     <br>
     <br> 
     <img src="https://s3.amazonaws.com/themartinagency/media/news/_hd/Screen-Shot-2018-04-10-at-10.42.26-AM.png" width="300" height="250">
     
     <img src="https://www.commondreams.org/sites/default/files/styles/cd_large/public/headlines/iceland-protest-gender-wage-gap.jpg?itok=rfWRvwH0" width="300" height="200">
     
     <img src="https://ih1.redbubble.net/image.366926619.7781/ap%2C190x210%2C12x16%2C1%2Cf8f8f8%2Ct-pad%2C210x230%2Cf8f8f8.lite-1u1.jpg" width="200" heigth="100">
  
</body>
</html>